{% extends "base.html" %} 
{% load static %}
{% load bag_tools %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<!--Page title-->
<div class="content-container">
  <div class="row">
    <div class="col text-center title-container">
      <h2 class="title-font pt-5 pb-3"><i class="flaticon-shopping-bag"></i></h2>
    </div>
  </div>

  <!--Shopping bag-->
  <div class="row">
            <div class="col p-0">
                {% if bag_items %}
                    <div class="d-block d-md-none">
                    <div class="row mb-4 grey-banner">
                    <div class="col px-0">
                        <div class="row mt-1">
                            <div class="col mb-2">
                                {% include "bag/bag-total.html" %}
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                {% include "bag/checkout-buttons.html" %}
                            </div>
                        </div>
                        </div>
                        </div>
                        {% for item in bag_items %}
                            {% if item.type == 'product' %}
                                <div class="row bg-light py-3 mb-4">
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product-image.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product-info.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 order-sm-last mb-2">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {% include "bag/quantity-form.html" %}
                                    </div>
                                </div>
                            {% elif item.type == 'programme' %}
                                <div class="row bg-light py-3 mb-4">
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product-image.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product-info.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 order-sm-last mb-2">
                                        <p class="my-0">£{{ item.programme.price }}</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {% include "bag/quantity-form.html" %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="btt-button">
                            <a class="btt-link d-flex h-100 mb-3">
                                <i class="fas fa-arrow-alt-circle-up mx-auto my-auto mb-2 navy"></i>
                            </a>	
                        </div>
                    </div>
                    <div class="table-responsive rounded d-none d-md-block">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% include "bag/product-image.html" %}
                                    </td>
                                    <td class="py-3">
                                        {% include "bag/product-info.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        {% include "bag/quantity-form.html" %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "bag/bag-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    {% include "bag/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'programmes' %}" class="btn ks-btn rounded-0 font-14 mx-3 mb-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Explore Programmes</span>
                        </a>
                        <a href="{% url 'products' %}" class="btn ks-btn rounded-0 font-14 mx-3">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Shop Products</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}