{% extends "base.html" %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<!--Page title-->
<div class="content-container">
  <div class="row">
    <div class="col text-center title-container">
      <h2 class="title-font py-4"><i class="fas fa-shopping-bag"></i></h2>
    </div>
  </div>

  <!--Shopping bag-->
  <div class="row">
    <div class="product-container col-12 offset-1">
      <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                    {{ bag_items }}</div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        Shop Programmes
                    </a>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        Shop Products
                    </a>
                {% endif %}
            </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
