{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid">
  <div class="home-view">
    <!-- Main homepage image -->
    <div class="row callout-img-outer">
      <img
        class="callout-img"
        src="{{ MEDIA_URL }}callout-img3.JPG"
        alt="Callout image"
      />
    </div>

    <!-- Callout banner carousel -->
    <div class="row callout-banner-outer">
      <div
        id="carouselBannerControls"
        class="col-12 text-center text-uppercase carousel slide callout-banner red-header py-2"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>Make your first step today</p>
            <a href="" class="callout-btn btn rounded">Join Now</a>
          </div>
          <div class="carousel-item">
            <p>Sign up and get 10% off your first order</p>
            <a href="" class="callout-btn btn rounded">Join Now</a>
          </div>
          <div class="carousel-item">
            <p>Free shipping on all orders over £{{ free_delivery_threshold }}</p>
            <a href="" class="callout-btn btn rounded">Shop Now</a>
          </div>
        </div>

        <!-- Callout banner carousel controls-->
        <a
          class="carousel-control-prev"
          href="#carouselBannerControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselBannerControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Testimonials carousel -->
  <div
    id="carouselExampleIndicators"
    class="row carousel slide carousel-testimonials"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        {% for review in reviews %}
        <a class="card">
          <img class="carousel-img" src="" alt="profile img" />
          <p>Review content</p>
          <p>Reviewers name</p>
        </a>
        {% endfor %}
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Programme card links -->
  <div class="row card-container">
    <div class="col-12 col-md-6">
      <div class="card" style="height: 300px">
        <div class="card-body">
          <h5 class="card-title">Coaches</h5>
          <a href="{% url 'programmes' %}" class="btn btn-primary">View Programmes</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card" style="height: 300px">
        <div class="card-body">
          <h5 class="card-title">Athletes</h5>
          <a href="{% url 'programmes' %}" class="btn btn-primary">View Programmes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product carousel -->
<div class="row product-carousel">
  <div
    id="carouselProductControls"
    class="col-12 text-center text-uppercase carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item">
        <a class="card">
          <img class="carousel-img" src="" alt="profile img" />
          <p></p>
        </a>
      </div>
    </div>

    <!-- Callout banner carousel controls-->
    <a
      class="carousel-control-prev"
      href="#carouselProductControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselProductControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}
