{% extends "base.html" %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<!--Page title-->
<div class="content-container">
  <div class="row">
    <div class="col text-center title-container">
      <h2 class="title-font py-4">Meet the Coaches</h2>
    </div>
  </div>

  <!--Product cards-->
  <div class="row">
    <div class="product-container col-12 offset-1">
      <div class="row">
          
        <ul class="nav nav-pills">
            <li class="active pr-2">
                <a data-toggle="pill" href="#mike">
                    <img class="profile-img" src="{{ MEDIA_URL }}IMG_0509.png" alt="Mike profile image">
                </a>
            </li>
            <li class="pl-2">
                <a data-toggle="pill" href="#frazer">
                    <img class="profile-img" src="{{ MEDIA_URL }}final-logo2.png " alt="Fraser profile image">
                </a>
            </li>
        </ul>

        <div class="tab-content py-4 px-2">
            <div id="mike" class="tab-pane active p-3">
                <h3 class="title-font">Michael Eglon</h3>
                <p class="font-14 pb-2">
                    A Strength and Conditioning coach and Applied Sport Scientist, with 5-years of experience working in the English Premier League. He is currently the First Team Rehabilitation Coach at Crystal Palace F.C.
                </p>
                <p class="font-14 pb-2">
                    As an average footballer growing up, Michael began to seek ways to improve his own athletic performance which led him towards pursuing a career in Sports Science. He completed his undergraduate degree in Sports and Exercise Science at Leeds Beckett University, graduating in 2014 with a first-class honour’s degree.
                </p>
                <p class="font-14 pb-2">
                    Whilst seeking coaching opportunities within elite-level sport, Michael gained his personal training qualifications and began working as a personal trainer. Soon after, he was able to secure a part-time voluntary role within the Crystal Palace F.C. academy delivering S&C support within the foundation and development age groups. After a season in the academy, he was offered an internship role with the first team at Crystal Palace F.C for the 2015-16 season.
                </p>
                <p class="font-14 pb-2">
                    After one season as an intern, Michael became the First Team Sports Scientist during the 2016-17 season. This role required him to manage the use of technology within the club, and based on the data collected, provide insights to coaching, medical, and sport science staff to improve performance and reduce injury incidence.
                </p>
                <p class="font-14 pb-2">
                    Alongside this position, Michael enrolled onto the Strength and Conditioning distance learning MSc programme at St Mary’s University in 2017. Shortly after, Michael became First Team Assistant Strength and Conditioning coach at Crystal Palace F.C., which required him to assist in the planning and delivery of the gym-based strength and power programme for first-team players. However, after 3-months in this role, Michael became the First Team Rehabilitation Coach at Crystal Palace F.C. following a medical department restructure. This role, which he currently possesses, requires him to plan and deliver all pitch and gym-based training for players in rehabilitation, to ensure a smooth transition to training and match-play.
                </p>
                <p class="font-14 pb-2">
                    In July 2020, Michael completed his MSc in Strength and Conditioning from St Mary’s University achieving a distinction. He is currently looking to publish his thesis titled: “The Influence of Physical Load and Contextual Variables on Objective and Subjective Measures of Post-match Fatigue” in the Journal of Sports Sciences.
                </p>

            </div>
            <div id="frazer" class="tab-pane fade p-3">
                <h3 class="title-font">Frazer</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra molestie ante, in volutpat felis egestas accumsan. Etiam molestie est eros, at faucibus tortor mattis sit amet. Donec ipsum velit, lobortis et volutpat vel, elementum et dolor. Quisque eu faucibus magna. Nunc rhoncus vestibulum consequat. Cras ac mollis odio, in sollicitudin odio. Aenean tempus aliquet viverra. In at odio sagittis, consectetur dolor vel, pellentesque tellus. Donec diam libero, convallis id dolor nec, eleifend commodo urna. Nullam sodales sagittis enim, eu hendrerit lorem faucibus vulputate. Proin nisl quam, consectetur a faucibus fringilla, vestibulum vel ligula. Maecenas ultricies eget quam sed hendrerit. Sed sed commodo turpis, eget congue dolor. Pellentesque lacinia pellentesque mauris, vel euismod sapien maximus non. Sed est dui, luctus sit amet auctor non, pretium eu nulla. Ut in tellus nisl.
                </p>
                <p>
                Proin a feugiat leo. Nulla at velit a magna laoreet faucibus sit amet dapibus ipsum. Duis pharetra eget augue ut pretium. Praesent imperdiet nec augue et tincidunt. Sed et egestas urna, vel mollis lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec facilisis, neque vitae lobortis fermentum, justo urna commodo lorem, et sagittis felis erat nec lectus.
                </p>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
