{% extends "base.html" %} 
{% load static %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<!--Page Title-->
<div class="mx-auto w-md-85 mt-md-2 mt-lg-3">
   <div class="row">
      <div class="col text-center my-sm-2 my-lg-2">
         <h2 class="title-font py-4">Meet the Coaches</h2>
      </div>
   </div>
   <!--Coaches Tabs-->
   <div class="row">
      <div class="col-12 offset-1 px-md-4 px-lg-5">
         <div class="row">
            <ul class="row nav nav-pills my-md-4">
               <li class="pr-2 pr-sm-4">
                  <a data-toggle="pill" href="#mike" class="active">
                  <img class="profile-img" src="{{ MEDIA_URL }}FSCR-coaches-mike.png" alt="Mike profile image">
                  </a>
               </li>
               <li class="pl-2 pl-sm-4">
                  <a data-toggle="pill" href="#frazer">
                  <img class="profile-img" src="{{ MEDIA_URL }}FSCR-coaches-frazer.jpeg" alt="Fraser profile image">
                  </a>
               </li>
            </ul>
            <div class="tab-content py-4 px-2 m-auto">
               <div id="mike" class="tab-pane active p-3">
                  <h3 class="subtitle-font">Michael Eglon</h3>
                  <p class="p-font pb-2">
                     Michael Eglon is a Strength and Conditioning coach and Applied Sports Scientist, with 5-years of experience working in the English Premier League. He is currently the First Team Rehabilitation Coach at Crystal Palace F.C.
                  </p>
                  <p class="p-font pb-2">
                     Michael completed his undergraduate degree in Sports and Exercise Science at Leeds Beckett University, graduating in 2014 with a first-class honour’s degree.
                     Whilst seeking coaching opportunities within elite-level sport, Michael gained his personal training qualifications and began working as a personal trainer.
                  </p>
                  <p class="p-font pb-2">
                     Soon after, he was able to secure a part-time role within the Crystal Palace F.C. academy working with the foundation and development age groups. After one season, Michael was offered an internship role within the first team for the 2015-16 season. This lead to a full-time position as First Team Sports Scientist during the 2016-17 season, a position he held for 2-seasons. Alongside this position, Michael enrolled onto the Strength and Conditioning MSc programme at St Mary’s University in 2017.
                  </p>
                  <p class="p-font pb-2">
                     At the start of the 2018-19 season, Michael changed roles at Crystal Palace F.C. and became First Team Assistant Strength and Conditioning coach. However, after 3-months in this position, Michael became the First Team Rehabilitation Coach at Crystal Palace F.C. following a medical department restructure. This role, which he currently possesses, requires him to work closely with the club’s physiotherapists to plan and deliver all pitch and gym-based training for players in rehabilitation, to ensure a smooth transition to training and match-play.
                  </p>
                  <p class="p-font pb-2">
                     In July 2020, Michael completed his MSc in Strength and Conditioning from St Mary’s University achieving a distinction.
                  </p>
               </div>
               <div id="frazer" class="tab-pane fade p-3">
                  <h3 class="subtitle-font">Frazer Findlay</h3>
                  <p class="p-font pb-2">
                     Frazer Findlay is an applied sport scientist and strength and conditioning coach with experience in the physical preparation of elite athletes for numerous sporting organisations. He completed his undergraduate degree in Sport and Exercise Science at Liverpool John Moore’s University and is currently completing his MSc in Strength and Conditioning at St Mary’s University Twickenham.
                  </p>
                  <p class="p-font pb-2">
                     His previous experience includes the preparation of an international Gibraltarian sprinter in the lead up to the 100m and 200m indoor European championships. Frazer then moved into professional football with roles at Millwall F.C. and then Liverpool F.C. working within the academy sports science department. This led to a position within the Football Association of Wales working with the U19 and U21 squads as Lead Sports Scientist.
                  </p>
                  <p class="p-font pb-2">
                     While working for the Football Association of Wales (FAW) an opportunity presented itself to work for Helvetia Performance, a start-up performance centre in Geneva, Switzerland. This position involved working with some unique Olympic athletes across a wide range of sports such as ice hockey and snowboarding. Shortly after joining, an opportunity arose within the company to relocate to Las Vegas, America, where he became performance director of an e-sport gaming team. This involved implementing ideas from professional sports into the gaming world. This relocation also provided an opportunity to establish relationships with specialist practitioners at Las Vegas Golden Knights and Cirque Du Soleil.
                  </p>
                  <p class="p-font pb-2">
                     Frazer left Helvetia Performance in 2019 to join Crystal Palace F.C. where he secured a position as First Team Strength and Conditioning coach. Alongside Crystal Palace F.C., he continues to work for the FAW.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}