{% extends "base.html" %} 
{% load static %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<!--Page title-->
<div class="container-fluid">
   <div class="row">
      <div class="col text-center">
      </div>
   </div>
   
   <!--Search results-->
   <div class="row mt-sm-3">
      <div class="col-12 offset-1">
         <div class="row mt-1 mb-3"></div>
         <div class="row">
            {% if results_list %}
            <div class="col-12">
               <p class="mb-4 text-muted text-center">Showing <strong>{{ count }}</strong> search results for "<strong>{{ search_term }}</strong>"</p>
            </div>

            {% for product in results_list %}
            {% if product %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if product.image %}
                  <a href="{% url 'product_detail' product.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ product.image.url }}"
                     alt="{{ product.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'product_detail' product.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ product.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0">{{ product.name }}</p>
                     <p class="mb-0">{{ product.colour }}</p>
                     <p class="mb-0">£{{ product.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ product.rating }}</small></p>
                  </div>
               </div>
            </div>
            {% elif programme %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if programme.image %}
                  <a href="{% url 'programme_detail' programme.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ programme.image.url }}"
                     alt="{{ programme.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'programme_detail' programme.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ programme.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0">{{ programme.name }}</p>
                     <p class="mb-0">{{ programme.colour }}</p>
                     <p class="mb-0">£{{ programme.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ programme.rating }}</small></p>
                  </div>
               </div>
            </div>
            {% elif post %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if post.image %}
                  <a href="{% url 'post_detail' post.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ post.image.url }}"
                     alt="{{ post.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'post_detail' post.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ post.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0">{{ post.name }}</p>
                     <p class="mb-0">{{ post.colour }}</p>
                     <p class="mb-0">£{{ post.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ post.rating }}</small></p>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="mx-auto">
               <p class="mb-4 text-muted text-center">Sorry no search results found for <strong>"{{ search_term }}"</strong>, please try another search.</p>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}