{% extends "base.html" %} 
{% load static %}
{% block title %} Search {% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<!--Page title-->
<div class="container-fluid">
   <div class="row">
      <div class="col text-center">
      </div>
   </div>
   <!--Search results-->
   <div class="row mt-sm-3">
      <div class="col-12 offset-1">
         <div class="row mt-1 mb-3"></div>
         <div class="row">
            {% if results_list %}
            <div class="col-12">
               <p class="mb-4 text-muted text-center">Showing <strong>{{ results_list|length }}</strong> search result{{ results_list|pluralize }} for "<strong>{{ search_term }}</strong>"</p>
            </div>
            {% for result in results_list %}
            <!--Product results-->
            {% if result.colour %}
            {% if not result.discontinued %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if result.image %}
                  <a href="{% url 'product_detail' result.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ result.image.url }}"
                     alt="{{ result.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'product_detail' result.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ product.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0">{{ result.name }}</p>
                     <p class="mb-0 small">{{ result.colour }}</p>
                     <p class="mb-0">£{{ result.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ result.rating }}</small></p>
                  </div>
               </div>
            </div>
            {% endif %}
            <!--Programme results-->
            {% elif result.bullets %}
            {% if not result.discontinued %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if result.image %}
                  <a href="{% url 'programme_detail' result.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ result.image.url }}"
                     alt="{{ result.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'programme_detail' result.id %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ result.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0">{{ result.name }}</p>
                     <p class="mb-0">{{ result.colour }}</p>
                     <p class="mb-0">£{{ result.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ result.rating }}</small></p>
                  </div>
               </div>
            </div>
            {% endif %}
            <!--Blog results-->
            {% elif result.post_type %}
            <div class="col-6 col-md-4 col-lg-3">
               <div class="card bg-trans h-100 border-0">
                  {% if result.image %}
                  <a href="{% url 'post_detail' result.slug %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ result.image.url }}"
                     alt="{{ result.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'post_detail' result.slug %}">
                  <img
                     class="prod-img-card rounded-0"
                     src="{{ MEDIA_URL }}noimage.png"
                     alt="{{ result.name }}"
                     />
                  </a>
                  {% endif %}
                  <div class="pb-0 pt-2 pl-1">
                     <p class="mb-0 p-font">{{ result.title|truncatechars:35 }}</p>
                     <p class="mb-0 small text-muted">{{ result.author }}</p>
                     <p class="mb-2 small">{{ result.created_on|date:"M d, Y" }}</p>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <!--No search results-->
            <div class="mx-auto">
               <p class="mb-4 text-muted text-center">Sorry no search results found for <strong>"{{ search_term }}"</strong>, please try another search.</p>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}