{% extends "base.html" %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container">

    <!--Back button-->
    <div class="row">
        <div class="col-12">
            <a href="{% url 'forum' %}" class="ks-btn btn rounded-0 mt-3 mr-1 font-12">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Message Board</span>
            </a>
        </div>
    </div>

    <!--Discussion-->
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>

    <!--Add to Discussion-->
    <div class="row">
        <div class="col-12">
            <form action="{% url 'addInDiscussion' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="add-btn btn rounded-0 text-uppercase mt-1" value="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}