{% extends "base.html" %} 
{% load static %}
{% block title %} Thread Detail {% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<div class="mx-3 mx-md-auto w-md-75">
   <!--Back to forum button-->
   <div class="row">
      <div class="col-12 p-0">
         <a href="{% url 'forum' %}" class="navy-btn btn rounded-0 mt-3 mr-1 mb-3 p-font">
         <span class="icon">
         <i class="fas fa-chevron-left"></i>
         </span>
         <span class="text-uppercase">Message Board</span>
         </a>
      </div>
   </div>
   <!--Post details-->
   <div class="row grey-banner border">
      <div class="col-12 py-2">
         <div class="mb-2">
            <!--Edit post icon-->
            {% if user.is_authenticated and user == thread.author %}
            <a href="{% url 'edit_thread' thread.slug %}">
            <span class="float-right">
            <i class="fas fa-edit"></i>
            </span>
            </a>
            {% endif %}
            <p class="mb-0"><strong>{{ thread.topic }}</strong></p>
            <p class=" text-muted p-font">{{ thread.author }} | {{ thread.created_on }}</p>
         </div>
      </div>
      <!-- Post body -->
      <div class="row grey-banner">
         <div class="col-12 pb-3 p-font">
            <p class="p-font">{{ thread.description }}</p>
         </div>
      </div>
   </div>
   <!-- Comment field and reply button -->
   {% load crispy_forms_tags %}
   <form class="row d-grey-banner border programme-container pb-2" method="post">
      <div class="col-10 pt-2">
         {{ reply_form | crispy }}
         {% csrf_token %}
      </div>
      <div class="col-2 py-2">
         <button type="submit" class="btn purple-btn p-font rounded-0 float-right py-1 px-2">Reply</button>
      </div>
      <p class="col-12 float-left text-muted small ml-1">Signed in as <strong class="text-dark">{{ user.username }}</strong></p>
   </form>
   <!--Post comments-->
   <div class="row programme-container">
      <!--Comment count-->
      <div class="col py-2">
         <p class="small text-muted">{{ replies.count }} repl{{ replies.count|pluralize:"y,ies" }}</p>
      </div>
   </div>
   <!-- comments -->
   <div class="row programme-container">
      <div class="col p-0 mb-4 mt-3 ">
         {% for reply in replies %}
         <div class="comments border p-3 mb-2 p-font">
            <p class="font-weight-bold">
               {{ reply.user }}
               <span class="text-muted font-weight-normal pl-1">
               {{ reply.created_on }}
               </span>
               <!--Delete reply icon-->
               {%  if user.is_authenticated and user  == comment.user %}
               {% if user.is_superuser %}
               <!-- Button trigger modal -->
               <a class="btn float-right" data-toggle="modal" data-target="#repDelete{{ reply.id }}">
               <i class="far fa-trash-alt"></i>
               </a>
               {% endif %}
               {% endif %}
            </p>
            <!-- Modal -->
            <div class="modal fade" id="repDelete{{ reply.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="{{ reply.id }}" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content rounded-0">
                     <div class="modal-header border-0">
                        <h5 class="p-font ml-2 mt-2" id="{{ reply.id }}">Are you sure you want to delete your response?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-footer border-0">
                        <a class="btn navy-border-btn rounded-0" data-dismiss="modal">Close</a>
                        <a href="{% url 'delete_own_reply' thread.slug reply.id %}" class="btn navy-btn rounded-0">Confirm</a>
                     </div>
                  </div>
               </div>
            </div>
            {{ reply.body | linebreaksbr }}
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}