{% extends "base.html" %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container">

    <!--Back button-->
    <div class="row">
        <div class="col-12 p-0">
            <a href="{% url 'forum' %}" class="ks-btn btn rounded-0 mt-3 mr-1 mb-3 font-12">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Message Board</span>
            </a>
        </div>
    </div>

    <!--Post details-->
    <div class="row grey-banner border">
        <div class="col-12 py-2">
            <div class="mb-2">
                <p class="mb-0"><strong>{{ thread.topic }}</strong></p>
                <p class=" text-muted font-14">{{ request.user.username }} | {{ thread.created_on }}</p>
            </div>
        </div>
        <!-- Post body -->
        <div class="row grey-banner">
            <div class="col-12 pb-3">
                    <p class="font-14">{{ thread.description }}</p>
            </div>
        </div>
    </div>

    <!-- Comment field and reply button -->
    {% load crispy_forms_tags %}
    <form class="row d-grey-banner border" method="post">
        <div class="col-10 py-2">
        {{ comment_form | crispy }}
        {% csrf_token %}
        </div>
        <div class="col-2 py-2">
            <button type="submit" class="btn add-btn font-12 rounded-0 float-right py-1 px-2">Reply</button>
        </div>
    </form>

    <!--Post comments-->
    <div class="row">
        <!--Comment count-->
        <div class="col py-2">
            <p class="font-12 text-muted">{{ comments.count }} replies</p>
        </div>
    </div>
        <!-- comments -->
    <div class="row">
        <div class="col p-0 mb-4 mt-3 ">
            {% for comment in comments %}
            <div class="comments border p-3 mb-2 font-14">
            <p class="font-weight-bold">
                {{ comment.user }}
                <span class="text-muted font-weight-normal pl-1">
                {{ comment.created_on }}
                </span>
            </p>
            {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}