@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  color: #fafafa;
  font-family: "Lato", sans-serif;
  background-color: #38405f;
  text-align: center;
}

.textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.err {
   font-size: 110px;
}

.err i {
   font-size: 110px;
   padding: 10px;
}

.msg {
   font-size: 18px;
}

a {
   text-transform: uppercase;
   font-size: 18px;
   color: #fafafa;
   border: solid 1px #fafafa;
   background: #59546C;
   padding: 8px 20px;
   text-decoration: none;
}
