@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  height: 100%;
}

body {
    height: 100%;
  color: #0e131f;
  font-family: "Lato", sans-serif;
  background-color: #bdc1c750;
}

footer {
  position: relative;
  background-color: #ff0035;
  text-align: center;
  width: 100%;
  height: 40px;
}

footer h6 {
  font-size: 12px;
  padding: 10px;
  margin: 0px;
}

.content-container {
    margin-right: auto;
    margin-left: auto;
}

/* ---------- General */
p,
.row,
.col-12 {
  margin: 0px;
}

.container-fluid {
  padding: 0px;
}

.flaticon-shopping-bag-outline:before, .flaticon-menu-1:before, .flaticon-search-interface-symbol:before, .flaticon-user:before {
    margin-left: 0px !important;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

/* ---------- Header */

.red-header {
  background-color: #ff0035;
  font-size: 12px;
  font-weight: 600;
  color: #bdc1c7;
}

header {
  background-color: #38405f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header-container {
  padding-top: 87.53px;
}

.main-logo-link img {
  width: 120px;
  padding: 5px 0px;
}

.nav-link {
  padding: 0.5rem 0.5rem;
}

/* Search */
.search-input {
  width: 60vw !important;
  border: none;
  background-color: #fafafa;
  font-size: 14px;
}
.search-card {
  background-color: #ff0035;
}
.search-form {
  border: solid 1px #38405f;
  background-color: #fafafa;
}

/* ---------- Icons */
.nav-icon {
  font-size: 20px;
}

.nav-icon:active,
.nav-icon:hover,
.nav-icon:focus {
  filter: brightness(110);
}
.grey-icon,
.grey-icon:active,
.grey-icon:focus,
.grey-icon:hover {
  color: #bdc1c7;
}
.red-icon,
.red-icon:active,
.red-icon:focus,
.red-icon:hover {
  color: #ff0035;
}
.navy-icon,
.navy-icon:active,
.navy-icon:focus,
.navy-icon:hover {
  color: #38405f;
}

/* ---------- Index.html */

.callout-img {
    height: calc(100vh - 155.53px);
  filter: grayscale(0.4);
  width: 100vw;
  object-fit: cover;
}

/* Red callout banner */
.callout-btn {
  background-color: #38405f;
  color: #bdc1c7;
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
  padding: 2px 8px;
  border: solid 1px #bdc1c7;
}

/* Testimonial carousel */
.testimonials {
  background-color: #bdc1c770;
  height: 200px;
}
.carousel-testimonials {
  height: 400px;
}

/* Programme card links */
.card-container {
  background-color: #38405f;
  padding: 20px 10px;
}

/* Product carousel */
.product-carousel {
  height: 300px;
}

/* Sidenav */
.wrapper {
  display: flex;
  min-height: calc(100vh - 127.53px);
}

#sidebar.active {
  margin-left: -60%;
}

#sidebar {
  min-width: 60%;
  max-width: 250px;
  background: #bdc1c7;
  color: #38405f;
  transition: all 0.3s;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
  margin-top: 87.53px;
}

#sidebar a {
  color: #38405f;
}

/* --------------------Products*/
.title-font {
  font-size: 20px;
}
.product-card {
  background-color: transparent !important;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    font-size: 12px;
}

.programme-card {
  height: 100px !important;
}

/* --------------------Sort and Filter*/

.filter-btn {
    border: solid 2px #38405f;
    font-size: 14px;
    width: 100%;
}

/* --------------------Meet the Coaches*/

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px #ff0035;
}

.nav-pills {
    margin: auto;
}

.tab-pane {
    border: solid 1px #bdc1c7;
    background-color: #f8f8f8;
}

/* --------------------Bag*/

.grey-banner {
    background-color: #f8f8f8;
}

.update-link, .remove-item {
    cursor: pointer;
}

.product-details-container {
    font-size: 16px;
}

.ks-btn {
    background-color: #38405F;
    border: solid 2px #0E131F;
    color: #f8f8f8;
    font-size: 14px;
}

.add-btn {
    background-color: #FF0035;
    border: solid 2px #0E131F;
    color: #f8f8f8;
    font-size: 14px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --------------------Media queries*/

