{% extends "base.html" %} 
{% load static %}
{% block title %} Blog {% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<!--Page title-->
<div class="mx-auto w-100 w-md-85">
   <div class="row">
      <div class="col text-center">
         <h2 class="title-font py-4">Blog</h2>
      </div>
   </div>
   <!--Sort and Filter-->
   <div class="row px-3 px-sm-0 mx-auto sort-container">
      <div class="col-6 text-center d-flex">
         <div class="d-flex w-100">
            <select id="sort-selector" class="btn filter-btn rounded-0">
               <option value="none" label="none" selected disabled hidden></option>
               <option value="created_desc" {% if current_sorting == 'created_desc' %}selected{% endif %}>Newest</option>
               <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title: A to Z</option>
               <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title: Z to A</option>
            </select>
            <label class="sort" for="sort-selector">Sort <i class="fa-xs fas fa-chevron-down pl-2"></i></label>
         </div>
      </div>
      <div class="col-6 dropdown show text-center">
         <a class="btn filter-btn rounded-0" href="#" role="button" id="dropdownMenuFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Filter <i class="fa-xs fas fa-chevron-down pl-2"></i>
         </a>
         <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuFilter">
            <a class="dropdown-item float-right small text-muted" href="{% url 'blog' %}">
            <span><i class="fas fa-times pr-1"></i> Clear all</span>
            </a>
            <a class="dropdown-item" href="{% url 'blog' %}?post_type=article">Article</a>
            <a class="dropdown-item" href="{% url 'blog' %}?post_type=video">Video</a>
         </div>
      </div>
   </div>
   <!--Blog cards-->
   <div class="row mt-sm-3">
      <div class="col-12 offset-1">
         <div class="row mt-1 mb-3"></div>
         <div class="row">
            {% if posts %}
            <div class="col-12">
               <p class="mb-3 text-muted small text-center">{{ posts.count }} blog{{ posts.count|pluralize }} found</p>
            </div>
            {% for post in posts %}
            <div class="col-12 col-md-6">
               <div class="card bg-trans h-100 border-0">
                  {% if post.image %}
                  <img
                     class="blog-img-card rounded-0 lazy"
                     src="{{ post.image.url }}"
                     alt="{{ post.title }}"
                     />
                  {% else %}
                  <img
                     class="blog-img-card rounded-0 lazy"
                     src="{{ MEDIA_URL }}FSCR-noimage.png"
                     alt="{{ post.title }}"
                     />
                  {% endif %}
                  <div class="p-font pb-0 pt-2 pl-1">
                     <p class="mb-0 p-font">{{ post.title }}</p>
                     <p class="mb-0 text-muted small">{{ post.author }}</p>
                     <p class="mb-2 small">{{ post.created_on|date:"M d, Y" }}</p>
                     <a class="btn purple-btn px-2 py-1 p-font rounded-0" href="{% url 'post_detail' post.slug %}">Read more</a>
                  </div>
               </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-md-none mb-5"></div>
            {% endif %} {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-md-block mb-5"></div>
            {% endif %} 
            {% endfor %}
            {% else %}
            <div class="mx-auto">
               <p class="p-font mb-5">Sorry no search results found</p>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
   $('#sort-selector').change(function() {
       var selector = $(this);
       var currentUrl = new URL(window.location);
   
       var selectedVal = selector.val();
       if(selectedVal != "reset"){
           var sort = selectedVal.split("_")[0];
           var direction = selectedVal.split("_")[1];
   
           currentUrl.searchParams.set("sort", sort);
           currentUrl.searchParams.set("direction", direction);
   
           window.location.replace(currentUrl);
       } else {
           currentUrl.searchParams.delete("sort");
           currentUrl.searchParams.delete("direction");
   
           window.location.replace(currentUrl);
       }
   })
</script>
{% endblock %}