{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} 
{% block content %}
<div class="mx-auto w-md-75">
   <!--Back button-->
   <div class="row">
      <div class="col-12">
         <a href="{% url 'blog' %}" class= "navy-btn btn rounded-0 mt-3 mr-1 p-font">
         <span class="icon">
         <i class="fas fa-chevron-left"></i>
         </span>
         <span class="text-uppercase"> Blog</span>
         </a>
      </div>
   </div>
   <!--Post image-->
   <div class="row">
      <div class="col-12">
         <div class="my-3">
            {% if post.image %}
            <a href="{{ post.image.url }}" target="_blank">
            <img
               class="blog-detail-img rounded-0"
               src="{{ post.image.url }}"
               alt="{{ post.title }}"
               />
            </a>
            {% else %}
            <a href="{{ post.image.url }}">
            <img
               class="card-img-top blog-img-top img-fluid rounded-0"
               src="{{ MEDIA_URL }}noimage.png"
               alt="{{ post.name }}"
               />
            </a>
            {% endif %}
         </div>
      </div>
   </div>
   <!--Post details-->
   <div class="row grey-banner mx-md-3">
      <div class="col-12 py-2">
         <div class="mb-2">
            <p class="mb-0"><strong>{{ post.title }}</strong></p>
            <p class=" text-muted p-font">{{ post.author }} | {{ post.created_on|date:"M d, Y" }}</p>
         </div>
      </div>
   </div>
   <!--Post Content-->
   <div class="row mb-3">
      <div class="col-12">
         <p class="mt-3 p-font">{{ post.content|linebreaksbr }}</p>
      </div>
   </div>
   <!--References Accordion-->
   {% if post.references %}
   <div class="row mb-3 vw-100 vw-md-75">
      <div class="col-12">
         <a class="btn navy-border-btn mb-2 p-font rounded-0" data-toggle="collapse" href="#references" role="button" aria-expanded="false" aria-controls="references">
         References
         </a>
         <div class="collapse" id="references">
            <div class="card card-body rounded-0">
               <p class="small">{{ post.references|linenumbers|linebreaksbr }}</p>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   <!--Post comments-->
   <div class="row grey-banner mb-4 mt-3 py-3 mx-md-3">
      <div class="col-12">
         <h2 class="p-font pl-3 mb-2"><strong>{{ comments.count }} Comments</strong></h2>
      </div>
      <!-- comment form -->
      <div class="row vw-100">
         <div class="col-12">
            {% load crispy_forms_tags %}
            <div>
               <form method="post">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                  <p class="float-left text-muted small ml-1">Signed in as <strong class="text-dark">{{ user.username }}</strong></p>
                  <button type="submit" class="btn purple-btn px-2 py-1 p- float-right rounded-0">Post</button>
               </form>
            </div>
         </div>
      </div>
      <!-- comments -->
      <div class="row w-100">
         <div class="col">
            {% for comment in comments %}
            <div class="comments p-3 mt-3 p-font">
               <p class="font-weight-bold">
                  {{ comment.user }}
                  <span class="text-muted small font-weight-normal">
                  {{ comment.created_on }}
                  </span>
                  {% if user.is_authenticated and user == comment.user %}
                  <a href="{% url 'delete_own_comment' comment.id %}">
                  <span class="float-right">
                  <i class="far fa-trash-alt"></i>
                  </span>
                  </a>
                  {% endif %}
               </p>
               {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}