{% extends "base.html" %} {% load static %} 
{% block title %} Post Detail {% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} 
{% block content %}
<div class="mx-auto w-md-75">
   <!--Back to blog button-->
   <div class="row">
      <div class="col-12">
         <a href="{% url 'blog' %}" class= "navy-btn btn rounded-0 mt-3 mr-1 p-font">
         <span class="icon">
         <i class="fas fa-chevron-left"></i>
         </span>
         <span class="text-uppercase"> Blog</span>
         </a>
      </div>
   </div>
   <!--Post image-->
   <div class="row">
      <div class="col-12">
         <div class="my-3">
            {% if post.image %}
            <a href="{{ post.image.url }}" target="_blank">
            <img
               class="blog-detail-img rounded-0 lazy"
               src="{{ post.image.url }}"
               alt="{{ post.title }}"
               />
            </a>
            {% else %}
            <a href="{{ post.image.url }}">
            <img
               class="card-img-top blog-img-top img-fluid rounded-0 lazy"
               src="{{ MEDIA_URL }}FSCR-noimage.png"
               alt="{{ post.name }}"
               />
            </a>
            {% endif %}
         </div>
      </div>
   </div>
   <!--Post details-->
   <div class="row grey-banner mx-md-3">
      <div class="col-12 py-2">
         <div class="mb-2">
            <p class="mb-0"><strong>{{ post.title }}</strong></p>
            <p class=" text-muted p-font">{{ post.author }} | {{ post.created_on|date:"M d, Y" }}</p>
         </div>
      </div>
   </div>
   <!--Post Content-->
   <div class="row mb-3">
      <div class="col-12">
         <p class="mt-3 p-font">{{ post.content|linebreaksbr }}</p>
      </div>
   </div>
   <!--References Toggle-->
   {% if post.references %}
   <div class="row mb-3 vw-100 vw-md-75">
      <div class="col-12">
         <a class="btn navy-border-btn mb-2 p-font rounded-0" data-toggle="collapse" href="#references" role="button" aria-expanded="false" aria-controls="references">
         References <i class="fas fa-plus pl-1"></i>
         </a>
         <div class="collapse" id="references">
            <div class="card card-body rounded-0">
               <p class="small">{{ post.references|linenumbers|linebreaksbr }}</p>
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   <!--Post comments-->
   <div class="row grey-banner mb-4 mt-3 py-3 mx-md-3">
      <div class="col-12">
         <h2 class="p-font pl-3 mb-2"><strong>{{ comments.count }} comment{{ comments.count|pluralize }}</strong></h2>
      </div>
      <!--Comment form-->
      <div class="row vw-100">
         <div class="col-12">
            {% load crispy_forms_tags %}
            <div>
               <form method="post">
                  {{ comment_form | crispy }}
                  {% csrf_token %}
                  <p class="float-left text-muted small ml-1">Signed in as <strong class="text-dark">{{ user.username }}</strong></p>
                  <button type="submit" class="btn purple-btn px-2 py-1 p- float-right rounded-0">Post</button>
               </form>
            </div>
         </div>
      </div>
      <!--Comments-->
      <div class="row w-100">
         <div class="col">
            {% for comment in comments %}
            <div class="comments p-3 mt-3 p-font">
               <p class="font-weight-bold">
                  {{ comment.user }}
                  <span class="text-muted small font-weight-normal">
                  {{ comment.created_on }}
                  </span>
                  <!--Delete comment icon, trigger modal-->
                  {% if user.is_authenticated and user == comment.user or user.is_superuser %}
                  <a class="btn float-right" data-toggle="modal" data-target="#comDelete{{ comment.id }}">
                  <i class="far fa-trash-alt"></i>
                  </a>
                  {% endif %}
               </p>
               <!--Modal-->
               <div class="modal fade" id="comDelete{{ comment.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="{{ comment.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content rounded-0">
                        <div class="modal-header border-0">
                           <h5 class="p-font ml-2 mt-2" id="{{ comment.id }}">Are you sure you want to delete your comment?</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-footer border-0">
                           <a class="btn navy-border-btn rounded-0" data-dismiss="modal">Close</a>
                           <a href="{% url 'delete_own_comment' post.slug comment.id %}" class="btn navy-btn rounded-0">Confirm</a>
                        </div>
                     </div>
                  </div>
               </div>
               {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}