{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<h2 class="title-font pt-5 mb-3">{% trans "Verify your email" %}</h2>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<div class="grey-banner py-3 mb-3">
    {% blocktrans with confirmation.email_address.email as email %}
    <p class="subtitle-font m-0">
        Hello, {{ user_display }}
    </p>
    <p class="subtitle-font p-font px-4 mt-1">
        Please confirm that your email address is <strong>{{ email }}</strong> by clicking the button below.
    </p>
    {% endblocktrans %}
</div>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn navy-btn rounded-0 mt-1 mb-3" type="submit">{% trans 'Confirm Email' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
