{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block inner_title %}
<h2 class="title-font pt-5 mb-3">{% trans "Sign In" %}</h2>
{% endblock %}
{% block inner_content %}
<!-- Signing in with email or username-->
<div class="row">
   <div class="col grey-banner">
      {% blocktrans with site.name as site_name %}
      <p class="subtitle-font my-2">Sign in with email or username</p>
      <p class="p-font mt-1 mb-2">Not registered? <a class="pl-1" href="{{ signup_url }}"> Sign up</a></p>
      {% endblocktrans %}
   </div>
</div>
<div class="row my-2">
   <div class="col grey-banner my-md-3">
      <form class="login my-3 mx-4 mx-md-auto py-md-4" method="POST" action="{% url 'account_login' %}">
         {% csrf_token %}
         {{ form|crispy }}
         {% if redirect_field_value %}
         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
         {% endif %}
         <button class="primaryAction btn navy-btn w-100 w-lg-75" type="submit">{% trans "Sign In" %}</button>
         <p class="mt-2">
            <a class="button secondaryAction p-font" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
         </p>
      </form>
   </div>
</div>
<div class="row my-2 mb-md-4">
   <div class="col grey-banner">
      <p class="m-1 py-md-2"><strong>-- OR --</strong></p>
   </div>
</div>
<!-- Signing in with social accounts-->
{% get_providers as socialaccount_providers %}
<div id="social-links" class="row grey-banner py-3 mb-3 mb-md-4">
   <div class="col-12 pt-md-4">
      <div class="btn fb-bg mb-3 w-75 w-md-50 w-lg-30">
      <a href="{% provider_login_url 'facebook' method='oauth2' %}">
      <span class="fa fa-facebook mr-2"></span>Login with Facebook
      </a>
    </div>
   </div>
   <div class="col-12">
      <div class="btn go-bg mb-3 w-75 w-md-50 w-lg-30">
      <a href="{% provider_login_url 'google' %}">
      <span class="fa fa-google mr-2"></span>Login with Google
      </a>
    </div>
   </div>
   <div class="col-12 pb-md-4">
      <div class="btn tw-bg w-75 w-md-50 w-lg-30">
      <a href="{% provider_login_url 'twitter' %}">
      <span class="fa fa-twitter mr-2"></span>Login with Twitter
      </a>
    </div>
   </div>
</div>
{% endblock %}