{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <i class="pt-5 mb-2 fas fa-lock fa-lg"></i>
    <h2 class="title-font mb-3 mt-2">{% trans "Forgot password?" %}</h2>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="row mb-4">
        <div class="col grey-banner">
            <p class="my-2">{% trans "Enter your email address and we will send you instructions to reset your password." %}</p>
        </div>
    </div>

    <div class="row text-center mx-auto w-md-75">
        <div class="col">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <a class="btn navy-border-btn rounded-0 mr-2" href="{% url 'account_login' %}">Back to Login</a>
            <input class="btn navy-btn rounded-0" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </div>

{% endblock %}
