{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="mx-auto admin-container">
    <!--Page title-->
   <div class="row">
      <div class="col text-center title-container">
         <h2 class="title-font pt-5">Programme Management</h2>
         <h5 class="subtitle-font pb-3">Add a Programme</h5>
      </div>
   </div>
   <!--Add programme form-->
   <div class="row">
      <div class="col">
         <form method="POST" action="{% url 'add_programme' %}" class="form mb-3" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div class="text-right">
               <a class="navy-border-btn btn rounded-0 mt-1 mr-1 p-font" href="{% url 'programmes' %}">Cancel</a>
               <button class="navy-btn btn rounded-0 text-uppercase mt-1 p-font" type="submit">Add Programme</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
   $('#new-image').change(function() {
       var file = $('#new-image')[0].files[0];
       $('#filename').text(`Image will be set to: ${file.name}`);
   });
</script>
{% endblock %}