{% extends "base.html" %} 
{% load static %}
{% block title %} Programmes {% endblock %}
{% block page_header %}
<div class="header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %} {% block content %}
<!--Page title-->
<div class="mx-auto w-100 w-md-75">
   <div class="row">
      <div class="col text-center title-container">
         <h2 class="title-font py-4">Programmes</h2>
      </div>
   </div>
   <!--Sort and Filter-->
   <div class="row px-3 px-sm-0 mx-auto sort-container">
      <div class="col-6 text-center d-flex">
         <div class="d-flex w-100">
            <select id="sort-selector" class="btn filter-btn rounded-0">
               <option value="" label="none" selected disabled hidden></option>
               <option value="sku_desc" {% if current_sorting == 'sku_desc' %}selected{% endif %}>Newest Arrivals</option>
               <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Highest Rated</option>
               <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
               <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
            </select>
            <label class="sort" for="sort-selector">Sort <i class="fa-xs fas fa-chevron-down pl-2"></i></label>
         </div>
      </div>
      <div class="col-6 dropdown show text-center">
         <a class="btn filter-btn rounded-0" href="#" role="button" id="dropdownMenuFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Filter <i class="fa-xs fas fa-chevron-down pl-2"></i>
         </a>
         <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuFilter">
            <a class="dropdown-item float-right small text-muted" href="{% url 'programmes' %}">
            <span><i class="fas fa-times pr-1"></i> Clear all</span>
            </a>
            <a class="dropdown-item" href="{% url 'programmes' %}?category=rehab">Rehab</a>
            <a class="dropdown-item" href="{% url 'programmes' %}?category=performance">Performance</a>
            <a class="dropdown-item" href="{% url 'programmes' %}?category=custom">Custom</a>
         </div>
      </div>
   </div>
   <!--Programme cards-->
   <div class="row mt-sm-3">
      <div class="col-12 offset-1">
         <div class="row mt-1 mb-3"></div>
         <div class="row">
            {% if programmes %}
            <div class="col-12">
               <p class="mb-3 text-muted small text-center">{{ programmes.count }} programme{{ programmes.count|pluralize }} found</p>
            </div>
            {% for programme in programmes %}
            {% if not programme.discontinued %}
            <div class="col-12 p-0">
               <div class="card bg-trans h-100 border-0 mb-4 px-3">
                  <!--Programme image-->
                  {% if programme.image %}
                  <a href="{% url 'programme_detail' programme.id %}">
                  <img
                     class="prog-img-card rounded-0 lazy"
                     src="{{ programme.image.url }}"
                     alt="{{ programme.name }}"
                     />
                  </a>
                  {% else %}
                  <a href="{% url 'programme_detail' programme.id %}">
                  <img
                     class="prog-img-card img-fluid lazy"
                     src="{{ MEDIA_URL }}FSCR-noimage.png"
                     alt="{{ programme.name }}"
                     />
                  </a>
                  {% endif %}
                  <!--Programme info-->
                  <div class="card-body pb-0 pt-2 pl-1 p-font">
                     <p class="mb-0">{{ programme.name }}</p>
                     <p class="mb-0">£{{ programme.price }}</p>
                     <p class="mb-2 text-muted"><small><i class="far fa-star mr-1"></i>{{ programme.rating }}</small></p>
                     <!--Edit and Delete buttons (superuser)-->
                     {% if request.user.is_superuser %}
                     <div>
                        <a class="btn red-border-btn px-2 py-1 p-font rounded-0" href="{% url 'edit_programme' programme.id %}">Edit</a>
                        <!-- Delete button trigger modal -->
                        <a class="btn red-btn px-2 py-1 p-font rounded-0" data-toggle="modal" data-target="#progDelete{{ programme.id }}">Delete</a>
                        <!-- Modal -->
                        <div class="modal fade" id="progDelete{{ programme.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="{{ programme.id }}" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content rounded-0">
                                 <div class="modal-header border-0">
                                    <h5 class="p-font ml-2 mt-2" id="{{ programme.id }}">Are you sure you want to delete {{ programme.name }}?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body text-muted ml-2">
                                    Deleting the programme will remove it from the site but will not be permanently deleted from the database
                                 </div>
                                 <div class="modal-footer border-0">
                                    <a class="btn navy-border-btn rounded-0" data-dismiss="modal">Close</a>
                                    <a href="{% url 'delete_programme' programme.id %}" class="btn navy-btn rounded-0">Confirm</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endif %}
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="mx-auto">
               <p class="p-font mb-5">Sorry no search results found</p>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!--JS code supplied by Code Instiitue for sort functionality-->
<script>
   $('#sort-selector').change(function() {
       var selector = $(this);
       var currentUrl = new URL(window.location);
   
       var selectedVal = selector.val();
       if(selectedVal != "reset"){
           var sort = selectedVal.split("_")[0];
           var direction = selectedVal.split("_")[1];
   
           currentUrl.searchParams.set("sort", sort);
           currentUrl.searchParams.set("direction", direction);
   
           window.location.replace(currentUrl);
       } else {
           currentUrl.searchParams.delete("sort");
           currentUrl.searchParams.delete("direction");
   
           window.location.replace(currentUrl);
       }
   });
</script>
{% endblock %}