{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 
{% block content %}

<div class="content-container">

  <!--Programme image-->
  <div class="row">
    <div class="col-12">
      <div class="image-container my-5">
        {% if programme.image %}
        <a href="{{ programme.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ programme.image.url }}"
            alt="{{ programme.name }}"
          />
        </a>
        {% else %}
        <a href="{{ programme.image.url }}">
          <img
            class="card-img-top img-fluid"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ programme.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    </div>

    <!--Programme details-->
    <div class="row">
        <div class="col-12">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ programme.name }}</p>
                <p class="lead mb-1 text-left font-weight-bold">£{{ programme.price }}</p>
                {% if request.user.is_superuser %}
                    <small>
                        <a class="ks-btn px-2 py-1 font-12" href="{% url 'edit_programme' programme.id %}">Edit</a>
                        <a class="add-btn px-2 py-1 font-12" href="{% url 'delete_programme' programme.id %}">Delete</a>
                    </small>
                {% endif %}
                <p class="mt-3">{{ programme.description }}</p>
                <a href="" class="btn" >Sample fitness plan</a>
            </div>
        </div>
    </div>

    <!--What's included?-->
    <div class="row">
        <div class="col-12">
            <div class="product-details-container mb-5 mt-md-5">
                <h2>What's included?</h2>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>

    <!--Testimonials -->
    <div class="row">
        <div class="col-12">
            <div class="product-details-container mb-5 mt-md-5">
                <h2>What players are saying about the programme... </h2>
            </div>
        </div>
    </div>

    <!--Button actions-->
    <form class="form" action="{% url 'add_to_bag' programme.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ programme.id }}" id="id_qty_{{ programme.id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'programmes' %}" class="btn rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

  </div>
{% endblock %}
