{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<!--Page title-->
<div class="container-fluid">
  <div class="row">
    <div class="col text-center title-container">
      <h2 class="title-font py-4">Products</h2>
    </div>
  </div>

  <!--Sort and Filter-->
  <div class="row bg-white">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#main-nav"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item dropdown">
              <a
                class="logo-font font-weight-bold nav-link text-black mr-5"
                href="#"
                id="all-products-link"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Sort
              </a>
              <div
                class="dropdown-menu border-0"
                aria-labelledby="all-products-link"
              >
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item"
                  >All Products</a
                >
              </div>
            </li>

            <li class="nav-item dropdown">
              <a
                class="logo-font font-weight-bold nav-link text-black mr-5"
                href="#"
                id="clothing-link"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter
              </a>
              <div
                class="dropdown-menu border-0"
                aria-labelledby="clothing-link"
              >
                <a
                  href="{% url 'products' %}?category=clothing"
                  class="dropdown-item"
                  >Clothing</a
                >
                <a
                  href="{% url 'products' %}?category=accessories"
                  class="dropdown-item"
                  >Accessories</a
                >
                <a
                  href="{% url 'products' %}?category=hats"
                  class="dropdown-item"
                  >Hats</a
                >
                <a
                  href="{% url 'products' %}?category=activewear,essentials,jeans,shirts"
                  class="dropdown-item"
                  >All Products</a
                >
              </div>
            </li>
          </ul>
        </div>
      </button>
    </nav>
  </div>

  <!--Product cards-->
  <div class="row">
    <div class="product-container col-10 offset-1">
      <div class="row mt-1 mb-2"></div>
      <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card product-card h-100 border-0">
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top img-fluid"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
              />
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top img-fluid"
                src="{{ MEDIA_URL }}noimage.png"
                alt="{{ product.name }}"
              />
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.name }}</p>
              <p class="mb-0">{{ product.colour }}</p>
              <p class="mb-0">£{{ product.price }}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-md-none mb-5"></div>
        {% endif %} {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-5"></div>
        {% endif %} {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-lg-block mb-5"></div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
