{% extends "base.html" %} 
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<!--Page title-->
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center title-container">
      <h2 class="title-font py-4">Products</h2>
    </div>
  </div>

  <!--Sort and Filter-->
  <div class="row pr-3 pl-3">
    <div class="col-6 dropdown show text-center">
        <a class="btn filter-btn dropdown-toggle rounded-0" href="#" role="button" id="dropdownMenuSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuSort">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    
    <div class="col-6 dropdown show text-center">
        <a class="btn filter-btn dropdown-toggle rounded-0" href="#" role="button" id="dropdownMenuFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuFilter">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>


  <!--Product cards-->
  <div class="row">
    <div class="product-container col-12 offset-1">
      <div class="row mt-1 mb-2"></div>
      <div class="row">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card product-card h-100 border-0">
            {% if product.image %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top img-fluid"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
              />
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              <img
                class="card-img-top img-fluid"
                src="{{ MEDIA_URL }}noimage.png"
                alt="{{ product.name }}"
              />
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.name }}</p>
              <p class="mb-0">{{ product.colour }}</p>
              <p class="mb-0">£{{ product.price }}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-md-none mb-5"></div>
        {% endif %} {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-5"></div>
        {% endif %} {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-lg-block mb-5"></div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
